openapi: 3.1.0
info:
  contact:
    email: team@replicate.com
  description: AI can do extraordinary things, but its still too hard to use. We don't believe AI is inherently hard. We just don't have the right tools and abstractions yet. Were building tools so all software engineers can use AI as if it were normal software. You should be able to import an image generator the same way you import an npm package. You should be able to customize a model as easily as you can fork something on GitHub.
  termsOfService: https://replicate.com/terms
  title: Replicate Accounts Cancel API
  version: 1.0.0-a1
servers:
- url: https://api.replicate.com/v1
security:
- bearerAuth: []
tags:
- name: Cancel
paths:
  /predictions/{prediction_id}/cancel:
    post:
      operationId: predictions.cancel
      parameters:
      - description: 'The ID of the prediction to cancel.

          '
        in: path
        name: prediction_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      summary: Cancel a Prediction
      tags:
      - Cancel
  /trainings/{training_id}/cancel:
    post:
      operationId: trainings.cancel
      parameters:
      - description: 'The ID of the training you want to cancel.

          '
        in: path
        name: training_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      summary: Cancel a Training
      tags:
      - Cancel
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: 'All API requests must include a valid API token in the `Authorization` request header. The token must be prefixed by "Bearer", followed by a space and the token value.

        Example: `Authorization: Bearer r8_Hw***********************************`

        Find your tokens at https://replicate.com/account/api-tokens

        '
      scheme: bearer
      type: http
externalDocs:
  description: Replicate HTTP API
  url: https://replicate.com/docs/reference/http
