openapi: 3.2.0
info:
  contact:
    email: team@replicate.com
  description: AI can do extraordinary things, but its still too hard to use. We don't believe AI is inherently hard. We just don't have the right tools and abstractions yet. Were building tools so all software engineers can use AI as if it were normal software. You should be able to import an image generator the same way you import an npm package. You should be able to customize a model as easily as you can fork something on GitHub.
  termsOfService: https://replicate.com/terms
  title: Replicate Deployments API
  version: 1.0.0-a1
servers:
- url: https://api.replicate.com/v1
security:
- bearerAuth: []
tags:
- name: Deployments
paths:
  /deployments:
    get:
      description: 'Get a list of deployments associated with the current account, including the latest release configuration for each deployment.


        Example cURL request:


        ```console

        curl -s \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        https://api.replicate.com/v1/deployments

        ```


        The response will be a paginated JSON array of deployment objects, sorted with the most recent deployment first:


        ```json

        {

        "next": "http://api.replicate.com/v1/deployments?cursor=cD0yMDIzLTA2LTA2KzIzJTNBNDAlM0EwOC45NjMwMDAlMkIwMCUzQTAw",

        "previous": null,

        "results": [

        {

        "owner": "replicate",

        "name": "my-app-image-generator",

        "current_release": {

        "number": 1,

        "model": "stability-ai/sdxl",

        "version": "da77bc59ee60423279fd632efb4795ab731d9e3ca9705ef3341091fb989b7eaf",

        "created_at": "2024-02-15T16:32:57.018467Z",

        "created_by": {

        "type": "organization",

        "username": "acme",

        "name": "Acme Corp, Inc.",

        "github_url": "https://github.com/acme",

        },

        "configuration": {

        "hardware": "gpu-t4",

        "min_instances": 1,

        "max_instances": 5

        }

        }

        }

        ]

        }

        ```'
      operationId: deployments.list
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  next:
                    description: A URL pointing to the next page of deployment objects if any
                    nullable: true
                    type: string
                  previous:
                    description: A URL pointing to the previous page of deployment objects if any
                    nullable: true
                    type: string
                  results:
                    description: An array containing a page of deployment objects
                    items:
                      properties:
                        current_release:
                          properties:
                            configuration:
                              properties:
                                hardware:
                                  description: The SKU for the hardware used to run the model.
                                  type: string
                                max_instances:
                                  description: The maximum number of instances for scaling.
                                  type: integer
                                min_instances:
                                  description: The minimum number of instances for scaling.
                                  type: integer
                              type: object
                            created_at:
                              description: The time the release was created.
                              format: date-time
                              type: string
                            created_by:
                              properties:
                                github_url:
                                  description: The GitHub URL of the account that created the release.
                                  format: uri
                                  type: string
                                name:
                                  description: The name of the account that created the release.
                                  type: string
                                type:
                                  description: The account type of the creator. Can be a user or an organization.
                                  enum:
                                  - organization
                                  - user
                                  type: string
                                username:
                                  description: The username of the account that created the release.
                                  type: string
                              type: object
                            model:
                              description: The model identifier string in the format of `{model_owner}/{model_name}`.
                              type: string
                            number:
                              description: The release number. This is an auto-incrementing integer that starts at 1, and is set automatically when a deployment is created.
                              type: integer
                            version:
                              description: The ID of the model version used in the release.
                              type: string
                          type: object
                        name:
                          description: The name of the deployment.
                          type: string
                        owner:
                          description: The owner of the deployment.
                          type: string
                      type: object
                    type: array
                type: object
          description: Success
      summary: List Deployments
      tags:
      - Deployments
    post:
      description: 'Create a new deployment:


        Example cURL request:


        ```console

        curl -s \

        -X POST \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        -H "Content-Type: application/json" \

        -d ''{

        "name": "my-app-image-generator",

        "model": "stability-ai/sdxl",

        "version": "da77bc59ee60423279fd632efb4795ab731d9e3ca9705ef3341091fb989b7eaf",

        "hardware": "gpu-t4",

        "min_instances": 0,

        "max_instances": 3

        }'' \

        https://api.replicate.com/v1/deployments

        ```


        The response will be a JSON object describing the deployment:


        ```json

        {

        "owner": "acme",

        "name": "my-app-image-generator",

        "current_release": {

        "number": 1,

        "model": "stability-ai/sdxl",

        "version": "da77bc59ee60423279fd632efb4795ab731d9e3ca9705ef3341091fb989b7eaf",

        "created_at": "2024-02-15T16:32:57.018467Z",

        "created_by": {

        "type": "organization",

        "username": "acme",

        "name": "Acme Corp, Inc.",

        "github_url": "https://github.com/acme",

        },

        "configuration": {

        "hardware": "gpu-t4",

        "min_instances": 1,

        "max_instances": 5

        }

        }

        }

        ```'
      operationId: deployments.create
      requestBody:
        content:
          application/json:
            schema:
              properties:
                hardware:
                  description: The SKU for the hardware used to run the model. Possible values can be retrieved from the `hardware.list` endpoint.
                  type: string
                max_instances:
                  description: The maximum number of instances for scaling.
                  maximum: 20
                  minimum: 0
                  type: integer
                min_instances:
                  description: The minimum number of instances for scaling.
                  maximum: 5
                  minimum: 0
                  type: integer
                model:
                  description: The full name of the model that you want to deploy e.g. stability-ai/sdxl.
                  type: string
                name:
                  description: The name of the deployment.
                  type: string
                version:
                  description: The 64-character string ID of the model version that you want to deploy.
                  type: string
              required:
              - name
              - model
              - version
              - hardware
              - min_instances
              - max_instances
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  current_release:
                    properties:
                      configuration:
                        properties:
                          hardware:
                            description: The SKU for the hardware used to run the model.
                            type: string
                          max_instances:
                            description: The maximum number of instances for scaling.
                            type: integer
                          min_instances:
                            description: The minimum number of instances for scaling.
                            type: integer
                        type: object
                      created_at:
                        description: The time the release was created.
                        format: date-time
                        type: string
                      created_by:
                        properties:
                          github_url:
                            description: The GitHub URL of the account that created the release.
                            format: uri
                            type: string
                          name:
                            description: The name of the account that created the release.
                            type: string
                          type:
                            description: The account type of the creator. Can be a user or an organization.
                            enum:
                            - organization
                            - user
                            type: string
                          username:
                            description: The username of the account that created the release.
                            type: string
                        type: object
                      model:
                        description: The model identifier string in the format of `{model_owner}/{model_name}`.
                        type: string
                      number:
                        description: The release number.
                        type: integer
                      version:
                        description: The ID of the model version used in the release.
                        type: string
                    type: object
                  name:
                    description: The name of the deployment.
                    type: string
                  owner:
                    description: The owner of the deployment.
                    type: string
                type: object
          description: Success
      summary: Create a Deployment
      tags:
      - Deployments
  /deployments/{deployment_owner}/{deployment_name}:
    delete:
      description: 'Delete a deployment


        Deployment deletion has some restrictions:


        - You can only delete deployments that have been offline and unused for at least 15 minutes.


        Example cURL request:


        ```command

        curl -s -X DELETE \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        https://api.replicate.com/v1/deployments/acme/my-app-image-generator

        ```


        The response will be an empty 204, indicating the deployment has been deleted.'
      operationId: deployments.delete
      parameters:
      - description: 'The name of the user or organization that owns the deployment.

          '
        in: path
        name: deployment_owner
        required: true
        schema:
          type: string
      - description: 'The name of the deployment.

          '
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
      summary: Delete a Deployment
      tags:
      - Deployments
    get:
      description: 'Get information about a deployment by name including the current release.


        Example cURL request:


        ```console

        curl -s \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        https://api.replicate.com/v1/deployments/replicate/my-app-image-generator

        ```


        The response will be a JSON object describing the deployment:


        ```json

        {

        "owner": "acme",

        "name": "my-app-image-generator",

        "current_release": {

        "number": 1,

        "model": "stability-ai/sdxl",

        "version": "da77bc59ee60423279fd632efb4795ab731d9e3ca9705ef3341091fb989b7eaf",

        "created_at": "2024-02-15T16:32:57.018467Z",

        "created_by": {

        "type": "organization",

        "username": "acme",

        "name": "Acme Corp, Inc.",

        "github_url": "https://github.com/acme",

        },

        "configuration": {

        "hardware": "gpu-t4",

        "min_instances": 1,

        "max_instances": 5

        }

        }

        }

        ```'
      operationId: deployments.get
      parameters:
      - description: 'The name of the user or organization that owns the deployment.

          '
        in: path
        name: deployment_owner
        required: true
        schema:
          type: string
      - description: 'The name of the deployment.

          '
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  current_release:
                    properties:
                      configuration:
                        properties:
                          hardware:
                            description: The SKU for the hardware used to run the model.
                            type: string
                          max_instances:
                            description: The maximum number of instances for scaling.
                            type: integer
                          min_instances:
                            description: The minimum number of instances for scaling.
                            type: integer
                        type: object
                      created_at:
                        description: The time the release was created.
                        format: date-time
                        type: string
                      created_by:
                        properties:
                          github_url:
                            description: The GitHub URL of the account that created the release.
                            format: uri
                            type: string
                          name:
                            description: The name of the account that created the release.
                            type: string
                          type:
                            description: The account type of the creator. Can be a user or an organization.
                            enum:
                            - organization
                            - user
                            type: string
                          username:
                            description: The username of the account that created the release.
                            type: string
                        type: object
                      model:
                        description: The model identifier string in the format of `{model_owner}/{model_name}`.
                        type: string
                      number:
                        description: The release number.
                        type: integer
                      version:
                        description: The ID of the model version used in the release.
                        type: string
                    type: object
                  name:
                    description: The name of the deployment.
                    type: string
                  owner:
                    description: The owner of the deployment.
                    type: string
                type: object
          description: Success
      summary: Get a Deployment
      tags:
      - Deployments
    patch:
      description: 'Update properties of an existing deployment, including hardware, min/max instances, and the deployment''s underlying model version.


        Example cURL request:


        ```console

        curl -s \

        -X PATCH \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        -H "Content-Type: application/json" \

        -d ''{"min_instances": 3, "max_instances": 10}'' \

        https://api.replicate.com/v1/deployments/acme/my-app-image-generator

        ```


        The response will be a JSON object describing the deployment:


        ```json

        {

        "owner": "acme",

        "name": "my-app-image-generator",

        "current_release": {

        "number": 2,

        "model": "stability-ai/sdxl",

        "version": "da77bc59ee60423279fd632efb4795ab731d9e3ca9705ef3341091fb989b7eaf",

        "created_at": "2024-02-15T16:32:57.018467Z",

        "created_by": {

        "type": "organization",

        "username": "acme",

        "name": "Acme Corp, Inc.",

        "github_url": "https://github.com/acme",

        },

        "configuration": {

        "hardware": "gpu-t4",

        "min_instances": 3,

        "max_instances": 10

        }

        }

        }

        ```


        Updating any deployment properties will increment the `number` field of the `current_release`.'
      operationId: deployments.update
      parameters:
      - description: 'The name of the user or organization that owns the deployment.

          '
        in: path
        name: deployment_owner
        required: true
        schema:
          type: string
      - description: 'The name of the deployment.

          '
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                hardware:
                  description: The SKU for the hardware used to run the model. Possible values can be retrieved from the `hardware.list` endpoint.
                  type: string
                max_instances:
                  description: The maximum number of instances for scaling.
                  maximum: 20
                  minimum: 0
                  type: integer
                min_instances:
                  description: The minimum number of instances for scaling.
                  maximum: 5
                  minimum: 0
                  type: integer
                version:
                  description: The ID of the model version that you want to deploy
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  current_release:
                    properties:
                      configuration:
                        properties:
                          hardware:
                            description: The SKU for the hardware used to run the model.
                            type: string
                          max_instances:
                            description: The maximum number of instances for scaling.
                            type: integer
                          min_instances:
                            description: The minimum number of instances for scaling.
                            type: integer
                        type: object
                      created_at:
                        description: The time the release was created.
                        format: date-time
                        type: string
                      created_by:
                        properties:
                          github_url:
                            description: The GitHub URL of the account that created the release.
                            format: uri
                            type: string
                          name:
                            description: The name of the account that created the release.
                            type: string
                          type:
                            description: The account type of the creator. Can be a user or an organization.
                            enum:
                            - organization
                            - user
                            type: string
                          username:
                            description: The username of the account that created the release.
                            type: string
                        type: object
                      model:
                        description: The model identifier string in the format of `{model_owner}/{model_name}`.
                        type: string
                      number:
                        description: The release number.
                        type: integer
                      version:
                        description: The ID of the model version used in the release.
                        type: string
                    type: object
                  name:
                    description: The name of the deployment.
                    type: string
                  owner:
                    description: The owner of the deployment.
                    type: string
                type: object
          description: Success
      summary: Update a Deployment
      tags:
      - Deployments
  /deployments/{deployment_owner}/{deployment_name}/predictions:
    post:
      description: 'Create a prediction for the deployment and inputs you provide.


        Example cURL request:


        ```console

        curl -s -X POST -H ''Prefer: wait'' \

        -d ''{"input": {"prompt": "A photo of a bear riding a bicycle over the moon"}}'' \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        -H ''Content-Type: application/json'' \

        https://api.replicate.com/v1/deployments/acme/my-app-image-generator/predictions

        ```


        The request will wait up to 60 seconds for the model to run. If this time is exceeded the prediction will be returned in a `"starting"` state and need to be retrieved using the `predictions.get` endpiont.


        For a complete overview of the `deployments.predictions.create` API check out our documentation on creating a prediction which covers a variety of use cases.'
      operationId: deployments.predictions.create
      parameters:
      - description: 'The name of the user or organization that owns the deployment.

          '
        in: path
        name: deployment_owner
        required: true
        schema:
          type: string
      - description: 'The name of the deployment.

          '
        in: path
        name: deployment_name
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/parameters_prefer_header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas_prediction_request'
      responses:
        '201':
          description: 'Prediction has been created. If the `Prefer: wait` header is provided it will contain the final output.'
        '202':
          description: Prediction has been created but does not yet have all outputs
      summary: Create a Prediction Using a Deployment
      tags:
      - Deployments
components:
  parameters:
    parameters_prefer_header:
      description: 'Leave the request open and wait for the model to finish generating output. Set to `wait=n` where n is a number of seconds between 1 and 60.


        See https://replicate.com/docs/topics/predictions/create-a-prediction#sync-mode for more information.'
      in: header
      name: Prefer
      schema:
        example: wait=5
        pattern: ^wait(=([1-9]|[1-9][0-9]|60))?$
        type: string
  schemas:
    schemas_prediction_request:
      additionalProperties: false
      properties:
        input:
          description: 'The model''s input as a JSON object. The input schema depends on what model you are running. To see the available inputs, click the "API" tab on the model you are running or [get the model version](#models.versions.get) and look at its `openapi_schema` property. For example, [stability-ai/sdxl](https://replicate.com/stability-ai/sdxl) takes `prompt` as an input.


            Files should be passed as HTTP URLs or data URLs.


            Use an HTTP URL when:


            - you have a large file > 256kb

            - you want to be able to use the file multiple times

            - you want your prediction metadata to be associable with your input files


            Use a data URL when:


            - you have a small file <= 256kb

            - you don''t want to upload and host the file somewhere

            - you don''t need to use the file again (Replicate will not store it)

            '
          type: object
        stream:
          description: '**This field is deprecated.**


            Request a URL to receive streaming output using [server-sent events (SSE)](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events).


            This field is no longer needed as the returned prediction will always have a `stream` entry in its `url` property if the model supports streaming.

            '
          type: boolean
        webhook:
          description: 'An HTTPS URL for receiving a webhook when the prediction has new output. The webhook will be a POST request where the request body is the same as the response body of the [get prediction](#predictions.get) operation. If there are network problems, we will retry the webhook a few times, so make sure it can be safely called more than once. Replicate will not follow redirects when sending webhook requests to your service, so be sure to specify a URL that will resolve without redirecting.

            '
          type: string
        webhook_events_filter:
          description: "By default, we will send requests to your webhook URL whenever there are new outputs or the prediction has finished. You can change which events trigger webhook requests by specifying `webhook_events_filter` in the prediction request:\n\n- `start`: immediately on prediction start\n- `output`: each time a prediction generates an output (note that predictions can generate multiple outputs)\n- `logs`: each time log output is generated by a prediction\n- `completed`: when the prediction reaches a terminal state (succeeded/canceled/failed)\n\nFor example, if you only wanted requests to be sent at the start and end of the prediction, you would provide:\n\n```json\n{\n  \"input\": {\n    \"text\": \"Alice\"\n  },\n  \"webhook\": \"https://example.com/my-webhook\",\n  \"webhook_events_filter\": [\"start\", \"completed\"]\n}\n```\n\nRequests for event types `output` and `logs` will be sent at most once every 500ms. If you request `start` and `completed` webhooks, then they'll always be sent regardless of throttling.\n"
          items:
            enum:
            - start
            - output
            - logs
            - completed
            type: string
          type: array
      required:
      - input
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: 'All API requests must include a valid API token in the `Authorization` request header. The token must be prefixed by "Bearer", followed by a space and the token value.

        Example: `Authorization: Bearer r8_Hw***********************************`

        Find your tokens at https://replicate.com/account/api-tokens

        '
      scheme: bearer
      type: http
externalDocs:
  description: Replicate HTTP API
  url: https://replicate.com/docs/reference/http
