openapi: 3.2.0
info:
  contact:
    email: team@replicate.com
  description: AI can do extraordinary things, but its still too hard to use. We don't believe AI is inherently hard. We just don't have the right tools and abstractions yet. Were building tools so all software engineers can use AI as if it were normal software. You should be able to import an image generator the same way you import an npm package. You should be able to customize a model as easily as you can fork something on GitHub.
  termsOfService: https://replicate.com/terms
  title: Replicate Training API
  version: 1.0.0-a1
servers:
- url: https://api.replicate.com/v1
security:
- bearerAuth: []
tags:
- name: Training
paths:
  /trainings/{training_id}:
    get:
      description: 'Get the current state of a training.


        Example cURL request:


        ```console

        curl -s \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        https://api.replicate.com/v1/trainings/zz4ibbonubfz7carwiefibzgga

        ```


        The response will be the training object:


        ```json

        {

        "completed_at": "2023-09-08T16:41:19.826523Z",

        "created_at": "2023-09-08T16:32:57.018467Z",

        "error": null,

        "id": "zz4ibbonubfz7carwiefibzgga",

        "input": {

        "input_images": "https://example.com/my-input-images.zip"

        },

        "logs": "...",

        "metrics": {

        "predict_time": 502.713876

        },

        "output": {

        "version": "...",

        "weights": "..."

        },

        "started_at": "2023-09-08T16:32:57.112647Z",

        "status": "succeeded",

        "urls": {

        "get": "https://api.replicate.com/v1/trainings/zz4ibbonubfz7carwiefibzgga",

        "cancel": "https://api.replicate.com/v1/trainings/zz4ibbonubfz7carwiefibzgga/cancel"

        },

        "model": "stability-ai/sdxl",

        "version": "da77bc59ee60423279fd632efb4795ab731d9e3ca9705ef3341091fb989b7eaf",

        }

        ```


        `status` will be one of:


        - `starting`: the training is starting up. If this status lasts longer than a few seconds, then it''s typically because a new worker is being started to run the training.

        - `processing`: the `train()` method of the model is currently running.

        - `succeeded`: the training completed successfully.

        - `failed`: the training encountered an error during processing.

        - `canceled`: the training was canceled by its creator.


        In the case of success, `output` will be an object containing the output of the model. Any files will be represented as HTTPS URLs. You''ll need to pass the `Authorization` header to request them.


        In the case of failure, `error` will contain the error encountered during the training.


        Terminated trainings (with a status of `succeeded`, `failed`, or `canceled`) will include a `metrics` object with a `predict_time` property showing the amount of CPU or GPU time, in seconds, that the training used while running. It won''t include time waiting for the training to start.'
      operationId: trainings.get
      parameters:
      - description: 'The ID of the training to get.

          '
        in: path
        name: training_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
      summary: Get a Training
      tags:
      - Training
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: 'All API requests must include a valid API token in the `Authorization` request header. The token must be prefixed by "Bearer", followed by a space and the token value.

        Example: `Authorization: Bearer r8_Hw***********************************`

        Find your tokens at https://replicate.com/account/api-tokens

        '
      scheme: bearer
      type: http
externalDocs:
  description: Replicate HTTP API
  url: https://replicate.com/docs/reference/http
