openapi: 3.2.0
info:
  contact:
    email: team@replicate.com
  description: AI can do extraordinary things, but its still too hard to use. We don't believe AI is inherently hard. We just don't have the right tools and abstractions yet. Were building tools so all software engineers can use AI as if it were normal software. You should be able to import an image generator the same way you import an npm package. You should be able to customize a model as easily as you can fork something on GitHub.
  termsOfService: https://replicate.com/terms
  title: Replicate Trainings API
  version: 1.0.0-a1
servers:
- url: https://api.replicate.com/v1
security:
- bearerAuth: []
tags:
- name: Trainings
paths:
  /trainings:
    get:
      description: 'Get a paginated list of all trainings created by the user or organization associated with the provided API token.


        This will include trainings created from the API and the website. It will return 100 records per page.


        Example cURL request:


        ```console

        curl -s \

        -H "Authorization: Bearer $REPLICATE_API_TOKEN" \

        https://api.replicate.com/v1/trainings

        ```


        The response will be a paginated JSON array of training objects, sorted with the most recent training first:


        ```json

        {

        "next": null,

        "previous": null,

        "results": [

        {

        "completed_at": "2023-09-08T16:41:19.826523Z",

        "created_at": "2023-09-08T16:32:57.018467Z",

        "error": null,

        "id": "zz4ibbonubfz7carwiefibzgga",

        "input": {

        "input_images": "https://example.com/my-input-images.zip"

        },

        "metrics": {

        "predict_time": 502.713876

        },

        "output": {

        "version": "...",

        "weights": "..."

        },

        "started_at": "2023-09-08T16:32:57.112647Z",

        "source": "api",

        "status": "succeeded",

        "urls": {

        "get": "https://api.replicate.com/v1/trainings/zz4ibbonubfz7carwiefibzgga",

        "cancel": "https://api.replicate.com/v1/trainings/zz4ibbonubfz7carwiefibzgga/cancel"

        },

        "model": "stability-ai/sdxl",

        "version": "da77bc59ee60423279fd632efb4795ab731d9e3ca9705ef3341091fb989b7eaf",

        }

        ]

        }

        ```


        `id` will be the unique ID of the training.


        `source` will indicate how the training was created. Possible values are `web` or `api`.


        `status` will be the status of the training. Refer to get a single training for possible values.


        `urls` will be a convenience object that can be used to construct new API requests for the given training.


        `version` will be the unique ID of model version used to create the training.'
      operationId: trainings.list
      responses:
        '200':
          description: Success
      summary: List Trainings
      tags:
      - Trainings
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: 'All API requests must include a valid API token in the `Authorization` request header. The token must be prefixed by "Bearer", followed by a space and the token value.

        Example: `Authorization: Bearer r8_Hw***********************************`

        Find your tokens at https://replicate.com/account/api-tokens

        '
      scheme: bearer
      type: http
externalDocs:
  description: Replicate HTTP API
  url: https://replicate.com/docs/reference/http
